In [1]:
import pandas as pd
data=pd.read_csv('2000.csv', encoding='latin-1') ##change encoding from utf-8 to latin-1 in order for it to work
print(data.columns) #all column names
print("Total columns: ",
      len(data.columns))
print("Total rows: ",
      len(data['Year']))

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')
Total columns:  29
Total rows:  7129270

In [2]:
print(data.describe())  #lets look at the data and some basic statistics

            Year         Month    DayofMonth     DayOfWeek       DepTime  \
count  7129270.0  7.129270e+06  7.129270e+06  7.129270e+06  7.001513e+06
mean      2004.0  6.549743e+00  1.576378e+01  3.943603e+00  1.346557e+03
std          0.0  3.437392e+00  8.801830e+00  1.986255e+00  4.736455e+02
min       2004.0  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%       2004.0  4.000000e+00  8.000000e+00  2.000000e+00  9.360000e+02
50%       2004.0  7.000000e+00  1.600000e+01  4.000000e+00  1.331000e+03
75%       2004.0  1.000000e+01  2.300000e+01  6.000000e+00  1.735000e+03
max       2004.0  1.200000e+01  3.100000e+01  7.000000e+00  2.750000e+03

         CRSDepTime       ArrTime    CRSArrTime     FlightNum  \
count  7.129270e+06  6.987729e+06  7.129270e+06  7.129270e+06
mean   1.340792e+03  1.496638e+03  1.503662e+03  2.091414e+03
std    4.623599e+02  4.950194e+02  4.768856e+02  1.955000e+03
min    0.000000e+00  1.000000e+00  0.000000e+00  1.000000e+00
25%    9.350000e+02  1.119000e+03  1.125000e+03  5.920000e+02
50%    1.330000e+03  1.521000e+03  1.525000e+03  1.413000e+03
75%    1.725000e+03  1.915000e+03  1.912000e+03  3.202000e+03
max    2.359000e+03  2.955000e+03  2.400000e+03  9.912000e+03

       ActualElapsedTime  ...      Distance        TaxiIn       TaxiOut  \
count       6.987729e+06  ...  7.129270e+06  7.129270e+06  7.129270e+06
mean        1.233826e+02  ...  7.136000e+02  7.846626e+00  1.572268e+01
std         7.062332e+01  ...  5.718568e+02  4.662986e+01  1.529575e+01
min        -7.100000e+02  ...  6.000000e+00  0.000000e+00  0.000000e+00
25%         7.200000e+01  ...  3.060000e+02  4.000000e+00  1.000000e+01
50%         1.040000e+02  ...  5.450000e+02  5.000000e+00  1.300000e+01
75%         1.540000e+02  ...  9.380000e+02  7.000000e+00  1.900000e+01
max         1.744000e+03  ...  4.962000e+03  1.473000e+03  3.905000e+03

          Cancelled      Diverted  CarrierDelay  WeatherDelay      NASDelay  \
count  7.129270e+06  7.129270e+06  7.129270e+06  7.129270e+06  7.129270e+06
mean   1.792007e-02  1.933438e-03  2.641655e+00  7.065885e-01  3.432659e+00
std    1.326610e-01  4.392835e-02  1.635026e+01  8.630164e+00  1.480823e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00 -2.500000e+01
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
max    1.000000e+00  1.000000e+00  1.879000e+03  1.230000e+03  1.380000e+03

       SecurityDelay  LateAircraftDelay
count   7.129270e+06       7.129270e+06
mean    2.513848e-02       3.445825e+00
std     1.245168e+00       1.683761e+01
min     0.000000e+00       0.000000e+00
25%     0.000000e+00       0.000000e+00
50%     0.000000e+00       0.000000e+00
75%     0.000000e+00       0.000000e+00
max     5.330000e+02       1.344000e+03

[8 rows x 24 columns]

In [3]:
# We can notice that there are 6 columns that are all filled with NA values, we can remove them completely. The columns are:
# CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay and LateAircraftDelay
data_reduced=data[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled','Diverted']]
print("Total columns: ",
      len(data_reduced.columns))
print("Total rows: ",
      len(data_reduced['Year']))

Total columns:  23
Total rows:  7129270

In [4]:
#now lets remove the rows that have missing data
data_clean=data_reduced.dropna()
print("Total columns: ",
      len(data_clean.columns))
print("Total rows: ",
      len(data_clean['Year']))

Total columns:  23
Total rows:  6987729

In [5]:
difference=len(data_reduced['Year'])-len(data_clean['Year'])
print('Rows removed: ',difference)
print('Percetange of original data removed: ',format((difference/len(data_reduced)), '.2%'))
#only a small % of data is being removed, thus it won't affect our analysis

Rows removed:  141541
Percetange of original data removed:  1.99%

In [6]:
data_clean.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,2004,1,12,1,623.0,630,901.0,915,UA,462,...,80.0,-14.0,-7.0,ORD,CLT,599,7,11,0,0
1,2004,1,13,2,621.0,630,911.0,915,UA,462,...,78.0,-4.0,-9.0,ORD,CLT,599,16,16,0,0
2,2004,1,14,3,633.0,630,920.0,915,UA,462,...,88.0,5.0,3.0,ORD,CLT,599,4,15,0,0
3,2004,1,15,4,627.0,630,859.0,915,UA,462,...,78.0,-16.0,-3.0,ORD,CLT,599,4,10,0,0
4,2004,1,16,5,635.0,630,918.0,915,UA,462,...,87.0,3.0,5.0,ORD,CLT,599,3,13,0,0

In [7]:
#get column names
column_names=list(data_clean)
print(column_names)

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted']

In [8]:
#generate random numbers within the length of the dataset
import random as r
random_num=[]
for i in range(0,1000):
    random_num.append(r.randrange(0,len(data_clean)))

print(random_num[:10])  #print first 10 randomly generated numbers
print('Length of random_num: ', len(random_num))

[233769, 3321528, 6445193, 4745105, 5856990, 3538528, 6828407, 1790708, 3495106, 2968018]
Length of random_num:  1000

In [9]:
random1000=[column_names] #create a list of lists

In [10]:
# select 1000 random records and append them to random1000 list

for j in random_num:
    row=list(data_clean.iloc[j])
    random1000.append(row)

print(random1000[:5]) #print first 5 rows
print("/n")
print('Sample data rows:', len(random1000))  #1001 rows since we included the column headers as the first row

[['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'Diverted'], [2004, 1, 31, 6, 905.0, 905, 1029.0, 1024, 'OO', 6090, 'N560SW', 84.0, 79, 164.0, 5.0, 0.0, 'LAX', 'MRY', 267, 3, 16, 0, 0], [2004, 6, 19, 6, 1626.0, 1631, 1819.0, 1817, 'AA', 1175, 'N2AVAA', 113.0, 106, 81.0, 2.0, -5.0, 'ORD', 'XNA', 522, 6, 26, 0, 0], [2004, 12, 4, 6, 1314.0, 1315, 1433.0, 1457, 'US', 863, 'N620AU', 79.0, 102, 65.0, -24.0, -1.0, 'PHL', 'CLT', 448, 4, 10, 0, 0], [2004, 9, 12, 7, 1505.0, 1500, 1615.0, 1605, 'WN', 983, 'N613SW', 70.0, 65, 58.0, 10.0, 5.0, 'HOU', 'MSY', 303, 5, 7, 0, 0]]
/n
Sample data rows: 1001

In [12]:
#create a new dataframe and match column names
random_df=pd.DataFrame(random1000[1:], columns=column_names)

In [13]:
random_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,Diverted
0,2004,1,31,6,905.0,905,1029.0,1024,OO,6090,...,164.0,5.0,0.0,LAX,MRY,267,3,16,0,0
1,2004,6,19,6,1626.0,1631,1819.0,1817,AA,1175,...,81.0,2.0,-5.0,ORD,XNA,522,6,26,0,0
2,2004,12,4,6,1314.0,1315,1433.0,1457,US,863,...,65.0,-24.0,-1.0,PHL,CLT,448,4,10,0,0
3,2004,9,12,7,1505.0,1500,1615.0,1605,WN,983,...,58.0,10.0,5.0,HOU,MSY,303,5,7,0,0
4,2004,11,29,1,2203.0,2155,2330.0,2337,US,207,...,70.0,-7.0,8.0,CLT,EWR,529,5,12,0,0

In [14]:
# write to csv from dataframe; DON'T FORGET TO CHANGE THE NAME OF OUTPUT FILE SO DATA WON'T BE OVERRIDDEN
# the file will be saved in the same directory where your Notebook is located at

random_df.to_csv('randomsample_y2004.csv',header=True,sep=',',index=False) #change the output file name here

In [ ]:
# do this for all datasets, then convert each csv file on your local machine to an Excel file
# then just combine all datasets into one with 5000 rows